/**
 * @todo clean this "everything drawer" up
 */

.has_fixed_header {
	padding-top: $navbar-height;
}
.navbar-default {
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  color: #2c3e50;
  border-bottom: 1px solid #E5E5E5;
  z-index:100;
}

.box-shadow {
  box-shadow:0px 1px 2px rgba(0,0,0,.1);
}

.text-secondary {
	color : $secondary-color;
}
.text-primary {
	color : $primary-color;
}
.text-white {
  color:#FFF;
}

.text-ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-white {
  background:#FFFFFF;
}

.bg-primary {
  background-color:$primary-color;
  color:#FFF;
}

.navbar-header {
  font-size:$font-size-base*1;
  text-transform: uppercase;
  .title {
    font-weight:bold;
    color:#000;
  }
  .description {
    color:rgba(0,0,0,.3);
  }
}

.panel-secondary {
	@include panel-variant($secondary-color, #FFF, $secondary-color, $secondary-color);
}
.panel-secondary-light {
	@include panel-variant(lighten($secondary-color, 50%), $secondary-color, lighten($secondary-color, 50%), lighten($secondary-color, 50%));
	.panel-heading {
	}
	.panel-body {
		padding-top:0px;
		background-color:lighten($secondary-color, 50%);
	}
}

.panel-primary-light {
	@include panel-variant(lighten($primary-color, 50%), $primary-color, lighten($primary-color, 50%), lighten($primary-color, 50%));
	.panel-heading {
	}
	.panel-body {
		padding-top:0px;
		background-color:lighten($primary-color, 50%);
	}
}

.statbox {
  border:solid 1px rgba(0,0,0,.1);
  border-bottom:solid 1px rgba(0,0,0,.15);
  background:#FFF;
  @extend .box-shadow;
}
.statbox-default {
  padding:15px;
}
