.navbar {
  a {
    text-transform: uppercase;
    font-size:12px;
    font-weight:700;
  }
  .navbar-brand {
    line-height:10px;
    width:$sidebar-width;
    text-align: center;
    img {
      height:20px;
      display:inline;
    }
    strong {
      color:rgba(255,255,255,.4);
    }
  }
}

.fixed-layout {
  position:absolute;
  top:$navbar-height;
  bottom:0px;
  left:0px;
  right:0px;
  &.fixed-layout-2-col {
    #sidebar {
      position:absolute;
      left:0;
      width:$sidebar-width;
      background-color:#34495e;
      color:#FFF;
      bottom:0;
      top:0;
    }
    #primary-content {
      position:absolute;
      overflow:scroll;
      left:200px;
      right:0;
      top:0;
      bottom:0;
    }
  }

  @media(max-width: $screen-md-max){
    #sidebar {
      width:60px !important;
      label {
        display:none;
      }
    }
    #primary-content {
      left: 60px !important;
    }
  }

}



#sidebar {
  .list-group {

    .list-group-item {
      padding:0 15px;
      border-radius:0;
      background:transparent;
      color:#FFF;
      border:none;
      line-height:50px;

      i {
        color:#FFF;
        font-size:30px;
        vertical-align: middle;
      }
      &:hover, &.active {
        background-color:rgba(0,0,0,.2);
      }



      p {
        padding:0px;
        margin:0px;
        line-height:30px;

      }
      img {
        border-radius:2px;
        float:left;
        margin-left:0px;
        border:solid 2px #FFF;
        box-shadow:0px 0px 2px rgba(0,0,0,.2);

      }

    }

  }
}

div.fixed {
  position: absolute;
  bottom: 0;
  top:$navbar-height;
  right: 0;
  left: 0;
  z-index: 0;
  &.fixed-has-header {
    top: $navbar-height;
  }
  .fixed-pane {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: scroll;
  }
  &.fixed-2-8 {
    .fixed-pane:first-child {
        width: 20%;
        left: 0;
    }
    .fixed-pane:last-child {
        right: 0;
        left: 20%;
    }
  }
  &.fixed-1-9 {
    .fixed-pane:first-child {
        width: 10%;
        left: 0;
    }
    .fixed-pane:last-child {
        right: 0;
        left: 10%;
    }
  }
  &.fixed-3-7 {
    .fixed-pane:first-child {
        width: 30%;
        left: 0;
    }
    .fixed-pane:last-child {
        right: 0;
        left: 30%;
    }
  }
  &.fixed-4-6 {
    .fixed-pane:first-child {
        width: 40%;
        left: 0;
    }
    .fixed-pane:last-child {
        right: 0;
        left: 40%;
    }
  }
  &.fixed-5-5 {
    .fixed-pane:first-child {
        width: 50%;
        left: 0;
    }
    .fixed-pane:last-child {
        right: 0;
        left: 50%;
    }
  }
  &.fixed-6-4 {
    .fixed-pane:first-child {
        width: 60%;
        left: 0;
    }
    .fixed-pane:last-child {
        right: 0;
        left: 60%;
    }
  }
  &.fixed-7-3 {
    .fixed-pane:first-child {
        width: 70%;
        left: 0;
    }
    .fixed-pane:last-child {
        right: 0;
        left: 70%;
    }
  }
  &.fixed-8-2 {
    .fixed-pane:first-child {
        width: 80%;
        left: 0;
    }
    .fixed-pane:last-child {
        right: 0;
        left: 80%;
    }
  }
  &.fixed-9-1 {
    .fixed-pane:first-child {
        width: 90%;
        left: 0;
    }
    .fixed-pane:last-child {
        right: 0;
        left: 90%;
    }
  }

  .list-group-item {
    &.active {
      background-color:lighten($primary-color, 40%);
      color:#000;
      border:solid 1px rgba(0,0,0,.1);
      // .nomie-icon {
      //   color:#FFF !important;
      // }
    }
  }

  .scroll-pane {
		position: absolute;
		top: 2px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: scroll;
	}

	.scroll-pane.has-header {
		top: $navbar-height;
	}

} //div.fixed
