<style type="text/css">
  /**
   *  Need to include custom CSS in this module, add it here.
   */
  .DearDiaryModule {
    position:absolute;
    height:100%;
    width:100%;
  }
  .main-content {
    position:absolute;
    top:50px;
    bottom:0;
    right:0;
    left:0;
    z-index:0;
  }
  .tag {
    text-decoration: none;
    color:#000;
  }
  .tag:hover {
    background-color:#429bca;
    color:#FFF !important;
    text-decoration: none;
  }
  .tag:focus {
    text-decoration: none;
    background-color:#429bca;
    color:#FFF !important;
    text-decoration: none;
  }
  .tag:hover .badge {
    color:#FFF;
    background:transparent;
  }
  .rounded {
    border-radius:30px;
  }
  .diary-sidebar {
    width:400px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    background:#FFF;
    overflow:scroll;
  }
  .diary-content-view {
    position:absolute;
    left:400px;
    right:0;
    bottom:0;
    top:0;
    overflow: scroll;
  }
  .scroll-pane {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: scroll;
  }
  .scroll-pane.has-header {
    top:50px;
  }
</style>

<div class="DearDiaryModule">

  <!-- Module Header -->
  <div class="module-header navbar navbar-default">
      <div class="navbar-header hairline-right">
        <div class="title navbar-text">Dear Diary</div>
      </div>
      <ul class="nav navbar-nav">
          <li>
            <a href class="" ng-click="vm.note=null">View Tags</a>
          </li>
        </ul>
      </ul>
  </div> <!--/.module-header -->

  <!-- Module Main Content -->
  <div class="main-content">
    <div class="diary-sidebar">
      <div class="navbar navbar-default bg-primary hairline-off">
        <div class="padding-sm" role="search">
          <div class="">
              <input type="text" ng-model="vm.searchTerm" class="hairline-off bg-faded-inverse-20 text-white input-sm form-control rounded" placeholder="" name="srch-term" id="srch-term">
              <i class="ion-ios-search" style="position:absolute; top:15px; right:25px;"></i>
          </div>
        </div>
      </div>
      <div class="scroll-pane has-header">
        <ul class="list-group">
          <li ng-hide="vm.notes.length" class="list-group-item">
            No notes in this data source.
          </li>
          <li class="list-group-item"
              ng-repeat="note in vm.notes | orderBy : vm.orderBy | filter:vm.searchTerm"
              ng-click="vm.showNote(note)"
              ng-show="note.value"
              ng-class="{ 'active' : vm.note == note }">
              <i class="ion-ios-arrow-thin-down text-negative text-xl pull-right margin-lg-left" ng-show="note.charge<0"></i>
              <i class="ion-ios-arrow-thin-up text-positive text-xl pull-right margin-lg-left" ng-show="note.charge>0"></i>

            <p class="list-group-item-text margin-sm-top">
              {{trim(note.value,50)}}
            </p>
            <h4 class="text-bold list-group-item-heading text-faded text-sm text-uppercase">{{note.time | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</h4>

          </li>
        </ul>
      </div>
    </div>
    <div class="diary-content-view">

      <div id="note-navbar" class="navbar navbar-default-inverse bg-primary"  ng-show="vm.note">
          <div class="navbar-header">
            <div class="navbar-text text-white">{{vm.note.time | amDateFormat:'dddd, MMM Do YYYY  h:mma'}}</div>
          </div>
          <ul class="nav navbar-nav navbar-right padding-md-right">
            <li><span class="navbar-text">SHARE</span></li>

          </ul>
      </div>

      <div class="scroll-pane has-header bg-faded-5" id="note-view" ng-show="vm.note">
        <div class="bg-white box-shadow hairline-all margin-xl">
          <div class="padding-xl">
            <div class="text-lg">{{vm.note.value}}</div>
          </div>
          <div id="note-map" class="map-container min-height-md" ng-show="vm.mapVisible">

          </div>
        </div>

      </div><!--/#note-view -->

      <div id="tag-navbar" class=""  ng-show="!vm.note">
        <div  class="list-group-item row bg-primary text-white" style="line-height:30px;"> <!-- i'm a bastard -->
          <div class="col-sm-2 text-white"
               ng-click="vm.setTagOrderBy('name')"
               ng-class="{'text-bold' : tagOrderBy == '-name' || tagOrderBy == 'name'}">
            Hashtag
            <i class="icon ion-chevron-down" ng-show="tagOrderBy == '-name'"></i>
            <i class="icon ion-chevron-up" ng-show="tagOrderBy == 'name'"></i>
          </div>
          <div class="col-sm-2 text-white"
               ng-click="vm.setTagOrderBy('charge')"
               ng-class="{'text-bold' : tagOrderBy == '-charge' || tagOrderBy == 'charge'}">
            Charge
            <i class="icon ion-chevron-down" ng-show="tagOrderBy == '-charge'"></i>
            <i class="icon ion-chevron-up" ng-show="tagOrderBy == 'charge'"></i>
          </div>
          <div class="col-sm-6 text-white"
               ng-click="vm.setTagOrderBy('count')"
               ng-class="{'text-bold' : tagOrderBy == '-count' || tagOrderBy == 'count'}">
            <!-- Should be a percentage -->
            Usage
            <i class="icon ion-chevron-down" ng-show="tagOrderBy == '-count'"></i>
            <i class="icon ion-chevron-up" ng-show="tagOrderBy == 'count'"></i>
          </div>

          <div class="col-sm-2">
            <span class="pull-right text-white" ng-click="tagOrderBy='-count'" ng-class="{'text-bold' : tagOrderBy == '-count'}">Count</span>
          </div>
        </div>
      </div>

      <div id="tag-view" class="scroll-pane has-header bg-faded-5" ng-show="!vm.note">
        <div class="list-group">

          <a href class="list-group-item row bg-white clearfix  hairline-bottom"
          ng-repeat="tag in vm.tags | orderBy : tagOrderBy " ng-click="vm.searchTerm = tag.name">
            <div class="col-sm-2 hairline-left">
              {{tag.name}}
            </div>
            <div class="col-sm-2">
              {{tag.charge}}
            </div>
            <div class="col-sm-6">
              <!-- Should be a percentage -->
              <div class="rounded bg-faded-60" style="width:{{tag.count}}px">
                  &nbsp;
              </div>
            </div>

            <div class="col-sm-2">
              <span class="text-md pull-right">{{tag.count}}</span>
            </div>
          </a>
          <div class="clear clearfix"></div>
        </div>
      </div>

    </div>
  </div><!--/.main-content-->

</div>
